# Auto detect text files and perform LF normalization
* text=auto

# Force these files to use LF line endings
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf

# Denote files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.gif binary